<div class="page-header">
  <%= link_to new_artist_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Artist
  <% end %>
  <h1>Listing artists</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Email</th>
            <th>Twitter</th>
            <th>Facebook</th>
            <th>Nickname</th>
            <th>Name</th>
            <th>State</th>
            <th>City</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @artists) do |artist| %>
            <td><%= artist.email %></td>
            <td><%= artist.twitter %></td>
            <td><%= artist.facebook %></td>
            <td><%= artist.nickname %></td>
            <td><%= artist.name %></td>
            <td><%= artist.state %></td>
            <td><%= artist.city %></td>
      <% end %>
    </tbody>
  </table>
</div>
