<div class="page-header">
  <%= link_to artists_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_artist_path(@artist), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show artist</h1>
</div>
<%= image_tag @artist.avatar_picture, style: "width: 200px;margin-bottom: 10px;" %>
<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd><%= @artist.email %></dd>

  <dt>Twitter:</dt>
  <dd><%= @artist.twitter %></dd>

  <dt>Facebook:</dt>
  <dd><%= @artist.facebook %></dd>

  <dt>Nickname:</dt>
  <dd><%= @artist.nickname %></dd>

  <dt>Name:</dt>
  <dd><%= @artist.name %></dd>

  <dt>State:</dt>
  <dd><%= @artist.state %></dd>

  <dt>City:</dt>
  <dd><%= @artist.city %></dd>

  <dt>Portafolio 1:</dt>
  <dd><%= @artist.portafolio_1 %></dd>

  <dt>Portafolio 2:</dt>
  <dd><%= @artist.portafolio_2 %></dd>

  <dt>Portafolio 3:</dt>
  <dd><%= @artist.portafolio_3 %></dd>

</dl>
