<p id="notice"><%= notice %></p>

<h1>Listing Blank Walls</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Height</th>
      <th>Width</th>
      <th>Min budget</th>
      <th>Max budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blank_walls.each do |blank_wall| %>
      <tr>
        <td><%= blank_wall.owner %></td>
        <td><%= blank_wall.height %></td>
        <td><%= blank_wall.width %></td>
        <td><%= blank_wall.min_budget %></td>
        <td><%= blank_wall.max_budget %></td>
        <td><%= link_to 'Show', blank_wall %></td>
        <td><%= link_to 'Edit', edit_blank_wall_path(blank_wall) %></td>
        <td><%= link_to 'Destroy', blank_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blank wall', new_blank_wall_path %>
