<div class="page-header">
  <%= link_to new_blank_wall_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Blank wall
  <% end %>
  <h1>Listing blank_walls</h1>
</div>
<%= render partial: "partials/wall_filters"%>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Owner</th>
            <th>Height</th>
            <th>Width</th>
            <th>Min budget</th>
            <th>Max budget</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @blank_walls) do |blank_wall| %>
            <td><%= blank_wall.owner %></td>
            <td><%= blank_wall.height %></td>
            <td><%= blank_wall.width %></td>
            <td><%= blank_wall.min_budget %></td>
            <td><%= blank_wall.max_budget %></td>
            <td><%= link_to 'Show', blank_wall %></td>
        <td><%= link_to 'Edit', edit_blank_wall_path(blank_wall) %></td>
        <td><%= link_to 'Destroy', blank_wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
