<div class="page-header">
<% if owner_signed_in? %>
  <%= link_to blank_walls_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_blank_wall_path(@blank_wall), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% else %>
  <%= link_to "#", :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Bid
  <% end %>
<% end %>
  <h1>Show blank_wall</h1>
</div>

<dl class="dl-horizontal">
  <dt>Area:</dt>
  <dd><%= @blank_wall.area %></dd>

  <dt>Budget:</dt>
  <dd><%= @blank_wall.min_budget %>-<%= @blank_wall.max_budget %></dd>

</dl>
<div class = "row">
  <div class = "">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= image_tag @blank_wall.picture_1%>
            <div class="carousel-caption">
            </div>
          </div>
          
          <% unless @blank_wall.picture_2.url.blank? %>
            <div class="item">
              <%= image_tag @blank_wall.picture_2.url%>
              <div class="carousel-caption">
              </div>
            </div>
          <% end %>

          <% unless @blank_wall.picture_3.url.blank? %>
            <div class="item">
              <%= image_tag @blank_wall.picture_3.url%>
              <div class="carousel-caption">
              </div>
            </div>
          <% end %>


          <div class="item">
            <%= image_tag @blank_wall.picture_3%>
            <div class="carousel-caption">
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>
</div>