<div class="page-header">
  <%= link_to blank_walls_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_blank_wall_path(@blank_wall), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show blank_wall</h1>
</div>

<dl class="dl-horizontal">
  <dt>Owner:</dt>
  <dd><%= @blank_wall.owner %></dd>

  <dt>Height:</dt>
  <dd><%= @blank_wall.height %></dd>

  <dt>Width:</dt>
  <dd><%= @blank_wall.width %></dd>

  <dt>Min budget:</dt>
  <dd><%= @blank_wall.min_budget %></dd>

  <dt>Max budget:</dt>
  <dd><%= @blank_wall.max_budget %></dd>

</dl>
